* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1em;
    box-sizing: border-box;
}

body
{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width:1970px;
}

#main {
    width: 1950px;
    height: 950px;
    border: 1px dotted #aaa;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
}

.column {
    float: left;
    width: 300px;
    height: 100%;
    border-right: 6px dotted #ddd;
    margin-right: 12px;
    margin-left: 10px;
}

.column:last-of-type {
    border-right: 0;
    margin-right: 0;
}

.opblock {
    clear: left;
    float: left;
    width: 100%;
    margin-bottom: 6px;
}



.flags {
    float: right;
    margin-right: 20px;
    font-weight: 900;
    letter-spacing: 0.5em;
    font-size: 12px;
    color: rgb(26, 26, 180);
    margin-top: 2px;
}

.desc, .ldesc {
    float: left;
    font-size: 16px;
    padding: 0.2em 0.5em 0 0 ;
    color: #a88;
    font-weight: bold;
}

.mnemonic {
    float:left;
    font-size: 30px;
    color: #a00;
    font-weight: 900;
    margin-left: -2px;
    width:120px;
}

.desc {
    clear: left;
    width:120px;
}

.ldesc {
    
    width: 160px;
}

ul.addrlist {
    list-style: none;
    display: block;
    float: left;
    margin-top: -1em;
    font-weight: 700;
}

ul.addrlist>li {
    float: left;
    clear:left;
    margin-bottom: 2px;
}


ul.addrlist>li>div {
    float: left;
}

.aheader {
    margin-bottom: 5px!important;
    font-weight: 700;
    font-size: 12px;
}

.aname {
    width:55px;
}

.hex {
    width: 40px;
}

.len {
    width: 25px;
}

.time {
    width: 25px;
}

.iheader {
    clear: both;
    font-size:24px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0px 0 5px 0;
}

.oneliner {
    margin-bottom: 2px;
}

.spacer {
    clear: both;
    line-height: 0;
}

.iblock {
    margin: 5px 0;
}

.notice {
    font-size: 18px;
    margin-bottom: 0.2em;
}

.bold {
    font-weight: 700;
}

.rbox {
    margin: 5px 0;
    float: left;
    width: 38px;
    height: 38px;
    border: 2px solid #888;
    text-align: center;
    margin-left: -2px;
    font-size: 20px;
    line-height: 34px;
}

.letters0 {
    letter-spacing: 0!important;
}

#col3>div.opblock {
    margin-bottom: 10px!important;
}

#col4>div.opblock {
    margin-bottom: 5px!important;
}